# MySQL / MariaDB
MSQL_HOST="127.0.0.1"
MSQL_PORT="3306"
MSQL_USER="root"
MSQL_PASS="mydatabaseissecured"
MSQL_PATH="/root/backups"

# Postgres
PSQL_USER="postgres"
PSQL_PATH="/root/backups"

# InfluxDB
IFXDB_DATABASE="telegraf"
IFXDB_PATH="/root/backups"

# Backup retention
BR_DAYS="2"
